:root{
    --hcolor: white;
    --txtcolor: rgba(255, 255, 255, 0.658);
}

* {
    background-color: rgb(26, 27, 58);
    color: var(--hcolor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #6ba81f;
    margin: 0.8rem;
}

.header1{
    text-align: center;
}
.element{
    padding: 20px;
}
.other{
    background-color: red;
}
.header1.element{
    text-align: center;
}