:root{
}


.main-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   }


.navbar{
  position: fixed;
  
  padding-top: 30px;
  padding-bottom: 30px;
  
  color: brown;
  background-color: bisque;
}

.navbar a{
  flex-direction: column;
}